<!--The content below is only a placeholder and can be replaced.-->

<div id="contenedor">
    <div class="card">
  
     <img src="src/img/yo.jpg" class="img" >
  
        <h1 class="texto">LOGIN</h1>
        <div class="row">
          <div class="form-group" >
               <input ng-model="user.first_name" type="text" class="form-control" placeholder="Nombre " >
          </div><br>
        </div>
          <div class="row">
          <div class="form-group">
              <input ng-model="user.phone" type="text" class="form-control" placeholder="Telefono ">
          </div>
        </div>
        <div class="row">
          <button (click)="onClickMe()"class="button" >Enviar</button>
        </div>
    </div> 
</div>
