/* You can add global styles to this file, and also import other style files */
html{
    background-image:url('http://www.vioniko.com/images/bg/vioniko-background-ciudad-012.jpg');
    width: 100%;
    height: auto;
    
}
